<% if @email %>
	<form method="post" action="/users/reset_password/:token">
		A password reset code has been sent <%= @email %>. Please check your email.

	</form>

<% else %>

	<form method="post" action="/users/reset_password">
		Email: <input type="text" name="email">
		<input type="submit" value="Reset Password">
	</form>
<% end %>